@import "../../../scss/includes.scss";
.bg-costum {
  border-radius: 8px;
  transition: $transition;
}

:hover.bg-costum {
  background-color: #333;
  .btn{
    z-index: 0;
    box-shadow: 5px 5px 5px #333;
  }
}
.sub-title{
  text-transform: capitalize
}